/* TODO: Your Assignment2 CSS goes here */
/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 20px 40px;
    background-color: white;
  }
  

  .header{
    background-color: #e6ecf0;
    
  }

  .nav {
  display:flex;
  flex: 1;
  justify-content: space-between;
  background-color: white

}
.skip{
  display:none;
}

.nav-home:hover,.nav-moments:hover,.nav-notifications:hover, .nav-messages:hover  {
  color:#4AB3F4;
  border-bottom: 3px solid #4AB3F4;
  
}
.nav-home,.nav-moments,.nav-notifications, .nav-messages  {
  font-weight: bold;
  color:grey;
  padding: 15px;
}
.icon {

  font-weight: lighter;
  justify-content: space-between;
  font: Arial;
  font-weight: bold;
  font-style: normal;
}
.nav-center {
  position: absolute;
  margin: 0 auto;
  left: 50%;
}

.nav-right {
  background-color: #4AB3F4;
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 30px;
  text-align: center;
}
#logo{
  height:30px
}
#btn {
  background-color: #4AB3F4;
}
  /* Content wrapper that contains the three main divs of the page*/
  .content-wrapper {
    display: flex;
    max-width: 1190px;
    margin:56px auto;
    margin-bottom: 20px;
  }

  .content-left{ 
    order: 1;
    width: 290px;
    
  }
  
  .cover-picture {
    z-index: 1;
    width:290px;
    height:100px;
    background-color: black;
    
    
  }
  .banner{
    color:white;
    font-size:2.9vw;
    font-family:"Copperplate";
    display: flex;
    margin-top:55px;
  }
  .profile-picture {
    display: flex;
    z-index: 3;
    width:290px;
    height:100px;
    background-color: white;
    
  }
  .profile-picture img{
    width:60px;
    height:60px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: 10px;
  }
  .profile-stats{
    display: flex;
    z-index: 1;
    align-items: center;
    width: 290px;
    background-color: white;
    padding: 5px;
    height: 40px;
  }
  
  .profile-words {
    padding: 5px;
    color: grey;
    font-weight: bold;
  }
  .profile-num {
 
    color: #4AB3F4;
    font-weight: bold;
  }
  
 
  .content-center {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    order:2;
    flex: 1;
    
  }
  .font-weight-bold{
    font-weight:bold
  }
  #tweet-container{

    display: flex;
    background-color: white;
    min-height: 51px;
    border-bottom: 1px solid #e6ec70;
    padding-bottom: 6px;
    padding-top: 4px;
    justify-content: space-between;
    flex-direction: column;
    border: 5px solid #E6ECF0;
    flex: 1;
    
  }
  .post {
    display: flex;
    border: 1px solid #E6ECF0;
    display: inline-flex;
    justify-content: space-between;
    min-width: 500px;
    max-width: 500px;
    
  }
  #tweet-container img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: 10px;
  }
  .name{
    display: inline-block;
    padding: 5px;
  }
 
  #post-info{
    color: black;
    margin-left: 5px;
  }
  .tweet{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
  }
.whotofollow{
  padding-top: 0px;
}

.content-right {
  order: 3;
  background-color: white;
  width: 290px;
  height: 220px;

}
.content-right img{
  width:40px;
  height:40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.follow {
  height: 80px;
  width: 290px;
  border-bottom: 1px solid whitesmoke;
  display: inline-flex;
  padding-top: 10px;
}

.follow-button {
  border-color: #4AB3F4;
  color: #4AB3F4;
  text-align: center;
  border-radius: 30px;
  width: 75px;
  height: 25px;
}

@media (max-width: 1190px) {
  .content-right {
    display: none;
  }
}
    